node_modules/
dist/
*.tsbuildinfo
.claude/

# Ignore any local archives from npm pack
*.tgz

# Ignore Rust builds and wasm-pack pkg output
pkg
target
src/wasm/anomaPayLib/anomapay_lib*
src/wasm/anomaPayV2Lib/anomapay_lib_v2*
src/wasm/armRisc0Bindings/arm_risc0_bindings*

# Ignore unused type-doc files
docs/README.md
docs/_media/
